{% extends "base_wo_ending_script.html" %}

{% block app_content %}

<h1>Card Machine Lookup</h1>
<section>
    <form class="form-inline" action="" method="{{ method | d("POST") }}">
        {{ form.hidden_tag() }}
        
        <p>
            {{ form.machine_select.label }}<br>
            {{ form.machine_select() }}<br>
            {% for error in form.machine_select.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        {{ form.submit() }}
    </form>


</section>

{% endblock %}